

$active-color: #5DE2E7;
$disabled-color: #838585;


.card {
    padding: 0;
}

.card-img-top {
    height: 50%;
}

.card-body {
    flex: 1
}

.right-button, .left-button{
    color: $disabled-color;
    &:hover {
        color: $active-color;
    }
}

.point-button {
    background-color: $disabled-color;
    border: none;
    border-radius: 50%;
    margin: 4px
}

.point-button.active {
    background-color: $active-color;
}
