$active-color: #373a3a;
$disabled-color: #c3c4c4;

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutToLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOutToRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .card {
    padding: 0;
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .card.slide-in-right {
    animation: slideInFromRight 0.5s forwards;
  }
  
  .card.slide-out-left {
    animation: slideOutToLeft 0.5s forwards;
  }
  
  .card.slide-in-left {
    animation: slideInFromLeft 0.5s forwards;
  }
  
  .card.slide-out-right {
    animation: slideOutToRight 0.5s forwards;
  }



.card-img-top {
    height: 40vh; 
    padding: 20px;
}

.right-button, .left-button{
    width: 3em;
    height: 3em;
    color: $disabled-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        color: $active-color;
    }
    &:focus, &:active {
        border: none;
    }
}

i {
    font-size: 2.5em;
}

.point-button {
    height: 0.8em;
    width: 0.8em;
    background-color: $disabled-color;
    border: none;
    border-radius: 50%;
    margin: 4px;
}

.point-button.active {
    width: 1.5em;
    height: 0.75em;
    border-radius: 28%;
    background-color: $active-color;
}
